In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
dc = pd.read_csv("Subjects.csv")
dc= dc[['ID','Subject ID']]
ratings = pd.read_csv("Data.csv",index_col=0)
ratings=ratings.fillna(0)
ratings.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
Name,,,,,,,,,,,,,,,,,,,,,
Gaurav,4.6,4.4,4.6,1.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chir patel,3.6,4.0,4.6,1.0,1.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sammed,4.0,1.8,3.6,1.4,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Vraj Dugar,3.4,4.0,2.8,2.8,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manan,4.4,4.4,3.8,3.6,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row
ratings_std = ratings.apply(standardize)
ratings_std=ratings_std.fillna(0)
ratings_std

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
Name,,,,,,,,,,,,,,,,,,,,,
Gaurav,0.328571,0.1000,0.344444,-0.315385,-0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chir patel,-0.385714,-0.0250,0.344444,-0.469231,-0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sammed,-0.100000,-0.7125,-0.211111,-0.315385,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Vraj Dugar,-0.528571,-0.0250,-0.655556,0.223077,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Manan,0.185714,0.1000,-0.100000,0.530769,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Harsh,-0.100000,0.1625,0.011111,0.223077,0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Priyanshi,0.042857,-0.1500,0.344444,0.146154,0.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Avishek,0.042857,0.2875,0.122222,-0.084615,-0.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Thakur,0.042857,0.2875,-0.100000,-0.084615,0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rajat,0.471429,-0.0250,-0.100000,0.146154,-0.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.17395541  0.35070851  0.16136106 -0.23567554  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.17395541  1.          0.17557941  0.26851416 -0.57941063  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.35070851  0.17557941  1.         -0.42325294 -0.34182145  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.16136106  0.26851416 -0.42325294  1.          0.21253757  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [-0.23567554 -0.57941063 -0.34182145  0.21253757  1.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]]

In [4]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
1,1.000000,0.173955,0.350709,0.161361,-0.235676,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.173955,1.000000,0.175579,0.268514,-0.579411,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.350709,0.175579,1.000000,-0.423253,-0.341821,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.161361,0.268514,-0.423253,1.000000,0.212538,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-0.235676,-0.579411,-0.341821,0.212538,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
ratings.mean()

1     4.14
2     4.08
3     3.98
4     2.22
5     2.00
6     0.00
7     0.00
8     0.00
9     0.00
10    0.00
11    0.00
12    0.00
13    0.00
14    0.00
15    0.00
16    0.00
17    0.00
18    0.00
19    0.00
20    0.00
21    0.00
22    0.00
23    0.00
24    0.00
25    0.00
26    0.00
27    0.00
dtype: float64

In [6]:
def get_similar_subjects(Subject_id,user_rating):
    similar_score = item_similarity_df[Subject_id]*(user_rating-ratings.loc[:,Subject_id].mean())
    #similar_score = similar_score.sort_values(ascending=False)
    return similar_score

In [7]:
def item1(id):
    return dc.loc[dc['ID']==id]['Subject'].tolist()[0]

In [8]:
def type1(Subject_id,Ratings):
    recs=get_similar_subjects(Subject_id,Ratings)
    #print(recs)
    l4=[]
    for idx,row in recs.to_frame().iterrows():
        l3=[]
        l3.append(float(row[0]))
        l3.append(int(idx))
        l4.append(l3)
        #print("Recommended: "+str(item1(int(idx)))+" (score:" + str(row[0]) + ")")
    return l4

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel 
ds = pd.read_csv("Subjects.csv")
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
ds['Modules']=ds['Modules'].str.replace("-", " ", case = False)
tfidf_matrix = tf.fit_transform(ds['Modules'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
results1 = {}

for idx, row in ds.iterrows():
   similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
   similar_items = [[ds['ID'][i],cosine_similarities[idx][i]] for i in similar_indices] 
   results1[row['ID']] = similar_items[1:]

tfidf_matrix = tf.fit_transform(ds['SLO'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
results2 = {}

for idx, row in ds.iterrows():
   similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
   similar_items = [[ds['ID'][i],cosine_similarities[idx][i]] for i in similar_indices] 
   results2[row['ID']] = similar_items[1:]

tfidf_matrix = tf.fit_transform(ds['Expected Outcome'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
results3 = {}

for idx, row in ds.iterrows():
   similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
   similar_items = [[ds['ID'][i],cosine_similarities[idx][i]] for i in similar_indices] 
   results3[row['ID']] = similar_items[1:]

def item(id):  
    return ds.loc[ds['ID']==id]['Subject Name'].tolist()[0]#.split(' - ')[0] 
# Just reads the results out of the dictionary.def 

def item1(id):
    return dc.loc[dc['ID']==id]['Subject ID'].tolist()[0]

def recommend(item_id, num):
    #print("\n\n\n\nCollabrative Filtering")
    #print("Recommending " + str(num) + " Subjects similar to Subject "+str(item1(item_id))+ " Subject Name: " + item(item_id) )   
    #print("-------")    
    recs1=results1[item_id][:]
    recs1.sort()
    recs2=results2[item_id][:]
    recs2.sort()
    recs3=results3[item_id][:]
    recs3.sort()
    #print(recs1)
    #print(recs2)
    #print(recs3)
    recs = []
    for i in range(len(recs1)):
        l=[]
        l.append(recs1[i][0])
        l.append(recs1[i][1])
        l.append(recs2[i][1])
        l.append(recs3[i][1])
        l.append(recs1[i][1]+recs2[i][1]+recs3[i][1])
        recs.append(l)
    #print(recs)
    #def x(y):
        #return y[4] 
    #recs.sort(key=x,reverse=True)
    #print(recs)
    #for i in range(num):
        #print("Recommended: "+str(item1(recs[i][0]))+" Subject Name: " + item(recs[i][0]) + " (Total score:" + str(recs[i][4]) + ")")
    recs.sort()
    return recs

def type2(Subject_id):
    return recommend(int(Subject_id), num=1)

In [10]:
def f(Subject_id,Ratings):
    r1=type1(Subject_id,Ratings)
    r2=type2(Subject_id)
    #print("-------")
    #print(r2)
    r2 = r2[0:int(Subject_id)-1]+[[int(Subject_id),0.0,0.0,0.0,0.0]]+r2[int(Subject_id)-1:]
    #print(r2)
    return r1,r2

[r1,r2]=f("1",5)

In [11]:
l4=[]
#print("ID\tSubject\t\tRank1\t\t\tScore1\t\t\tScore2\t\t\tScore3\t\t\tScore4")
for x,y in dc.iterrows():
    #print(str(y[0])+"\t"+str(y[1])+"\t"+str(r1[int(y[0])-1][0])+"\t"+str(r2[int(y[0])-1][1])+"\t"+str(r2[int(y[0])-1][2])+"\t"+str(r2[int(y[0])-1][3])+"\t"+str(r2[int(y[0])-1][4]))
    l3=[]
    l3.append(int(y[0]))
    l3.append(str(y[1]))
    l3.append(float(r1[int(y[0])-1][0]))
    l3.append(float(r2[int(y[0])-1][1]))
    l3.append(float(r2[int(y[0])-1][2]))
    l3.append(float(r2[int(y[0])-1][3]))
    l3.append(float(r1[int(y[0])-1][0]))
    l3.append(float(r2[int(y[0])-1][4]))
    l3.append(float(r1[int(y[0])-1][0])+float(r2[int(y[0])-1][4]))
    l4.append(l3)
df = pd.DataFrame(l4, columns = ['ID', 'Subject Code','Score 1','Score 2','Score 3','Score 4',"Collabrative Score","Content Score","Total Score"])
df

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949

In [12]:
df.sort_values(by=['Collabrative Score'],ascending=False)

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066

In [13]:
df.sort_values(by=["Content Score"],ascending=False)

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000

In [14]:
df.sort_values(by=["Collabrative Score","Content Score"],ascending=False)

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066

In [15]:
df.sort_values(by=["Content Score","Collabrative Score"],ascending=False)

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000

In [16]:
df.sort_values(by=["Total Score"],ascending=False)

,ID,Subject Code,Score 1,Score 2,Score 3,Score 4,Collabrative Score,Content Score,Total Score
19,20,ITE2006,0.000000,0.003568,0.189251,0.671288,0.000000,0.864106,0.864106
0,1,ITE1001,0.860000,0.000000,0.000000,0.000000,0.860000,0.000000,0.860000
16,17,ITE2003,0.000000,0.013568,0.675021,0.024169,0.000000,0.712758,0.712758
2,3,ITE1003,0.301609,0.008585,0.186031,0.032841,0.301609,0.227458,0.529067
1,2,ITE1002,0.149602,0.002400,0.221323,0.023336,0.149602,0.247058,0.396660
9,10,ITE1011,0.000000,0.004856,0.277127,0.066553,0.000000,0.348536,0.348536
8,9,ITE1010,0.000000,0.006491,0.277127,0.043700,0.000000,0.327319,0.327319
10,11,ITE1014,0.000000,0.000359,0.265690,0.029886,0.000000,0.295935,0.295935
6,7,ITE1007,0.000000,0.007359,0.186031,0.086029,0.000000,0.279418,0.279418
24,25,ITE2013,0.000000,0.010627,0.245290,0.020479,0.000000,0.276396,0.276396
12,13,ITE1016,0.000000,0.003313,0.148784,0.048481,0.000000,0.200578,0.200578
3,4,ITE1004,0.138771,0.007070,0.000000,0.020206,0.138771,0.027276,0.166047
14,15,ITE2001,0.000000,0.044850,0.000000,0.083253,0.000000,0.128102,0.128102
18,19,ITE2005,0.000000,0.014750,0.000000,0.043956,0.000000,0.058707,0.058707
23,24,ITE2012,0.000000,0.020534,0.000000,0.017385,0.000000,0.037919,0.037919
22,23,ITE2011,0.000000,0.004066,0.000000,0.032624,0.000000,0.036690,0.036690
20,21,ITE2009,0.000000,0.003708,0.000000,0.032020,0.000000,0.035729,0.035729
26,27,ITE2015,0.000000,0.007152,0.000000,0.017797,0.000000,0.024949,0.024949
11,12,ITE1015,0.000000,0.009013,0.000000,0.015416,0.000000,0.024430,0.024430
21,22,ITE2010,0.000000,0.004096,0.000000,0.018857,0.000000,0.022953,0.022953
15,16,ITE2002,0.000000,0.007314,0.000000,0.014383,0.000000,0.021696,0.021696
7,8,ITE1008,0.000000,0.004580,0.000000,0.015396,0.000000,0.019976,0.019976
5,6,ITE1006,0.000000,0.003905,0.000000,0.014533,0.000000,0.018438,0.018438
13,14,ITE1017,0.000000,0.000682,0.000000,0.016317,0.000000,0.016999,0.016999
25,26,ITE2014,0.000000,0.004625,0.000000,0.003179,0.000000,0.007803,0.007803
17,18,ITE2004,0.000000,0.001106,0.000000,0.003505,0.000000,0.004611,0.004611
4,5,ITE1005,-0.202681,0.000000,0.000000,0.019615,-0.202681,0.019615,-0.183066

In [17]:

import anvil.server

anvil.server.connect("GFUZNJXGUFOJFBSSA77AMRG3-PNANXC5JRINW73SF")

Connecting to wss://anvil.works/uplink
Anvil websocket open
Authenticated OK

In [32]:
def item2(s):
    return dc.loc[dc['Subject ID']==s]['ID'].tolist()[0]
def f1(subject,ratings,type):
    [r1,r2]=f(str(item2(subject)),int(ratings))
    l4=[]
    #print("ID\tSubject\t\tRank1\t\t\tScore1\t\t\tScore2\t\t\tScore3\t\t\tScore4")
    for x,y in dc.iterrows():
        #print(str(y[0])+"\t"+str(y[1])+"\t"+str(r1[int(y[0])-1][0])+"\t"+str(r2[int(y[0])-1][1])+"\t"+str(r2[int(y[0])-1][2])+"\t"+str(r2[int(y[0])-1][3])+"\t"+str(r2[int(y[0])-1][4]))
        l3=[]
        l3.append(int(y[0]))
        l3.append(str(y[1]))
        l3.append(float(r1[int(y[0])-1][0]))
        l3.append(float(r2[int(y[0])-1][1]))
        l3.append(float(r2[int(y[0])-1][2]))
        l3.append(float(r2[int(y[0])-1][3]))
        l3.append(float(r1[int(y[0])-1][0]))
        l3.append(float(r2[int(y[0])-1][4]))
        l3.append(float(r1[int(y[0])-1][0])+float(r2[int(y[0])-1][4]))
        l4.append(l3)
    df = pd.DataFrame(l4, columns = ['ID', 'Subject','Score 1','Score 2','Score 3','Score 4',"Collabrative Score","Content Score","Total Score"])
    if(type == 1):
        df1=df.sort_values(by=["Content Score"],ascending=False)
    elif(type == 3):
        df1=df.sort_values(by=["Total Score"],ascending=False)
    else:
        df1=df.sort_values(by=["Collabrative Score"],ascending=False)
    print(df1.iloc[0])
    Subject = df1.iat[0,1]
    SLO = item(df1.iat[0,0] )
   # print(subject +"@" + Subject + "@")
    if(Subject == subject):
        Subject = df1.iat[1,1]
        SLO = item(df1.iat[1,0] )
    return Subject,SLO

In [33]:

import anvil.media
@anvil.server.callable

def recm(subject,ratings,type):
    [r1,r2]=f1(str(subject).upper(),int(ratings),int(type))
    
    return r1,r2

In [34]:
#[r1,r2]=f1("ITE1001",5,3)

ID                            5
Subject                 ITE1005
Score 1                0.975697
Score 2                       0
Score 3                       0
Score 4               0.0196147
Collabrative Score     0.975697
Content Score         0.0196147
Total Score            0.995311
Name: 4, dtype: object
ID                            5
Subject                 ITE1005
Score 1                0.975697
Score 2                       0
Score 3                       0
Score 4               0.0196147
Collabrative Score     0.975697
Content Score         0.0196147
Total Score            0.995311
Name: 4, dtype: object
ID                            5
Subject                 ITE1005
Score 1                0.975697
Score 2                       0
Score 3                       0
Score 4               0.0196147
Collabrative Score     0.975697
Content Score         0.0196147
Total Score            0.995311
Name: 4, dtype: object
ID                             5
Subject                  ITE1005
Score 1                    2.364
Score 2                0.0114343
Score 3                 0.316456
Score 4               0.00508756
Collabrative Score         2.364
Content Score           0.332978
Total Score              2.69697
Name: 4, dtype: object
ID                             5
Subject                  ITE1005
Score 1                    2.364
Score 2                0.0114343
Score 3                 0.316456
Score 4               0.00508756
Collabrative Score         2.364
Content Score           0.332978
Total Score              2.69697
Name: 4, dtype: object
ID                             5
Subject                  ITE1005
Score 1                    2.364
Score 2                0.0114343
Score 3                 0.316456
Score 4               0.00508756
Collabrative Score         2.364
Content Score           0.332978
Total Score              2.69697
Name: 4, dtype: object
ID                             5
Subject                  ITE1005
Score 1                    2.364
Score 2                0.0114343
Score 3                 0.316456
Score 4               0.00508756
Collabrative Score         2.364
Content Score           0.332978
Total Score              2.69697
Name: 4, dtype: object
ID                            4
Subject                 ITE1004
Score 1                       0
Score 2               0.0150223
Score 3                0.504992
Score 4               0.0617363
Collabrative Score            0
Content Score          0.581751
Total Score            0.581751
Name: 3, dtype: object
ID                            1
Subject                 ITE1001
Score 1                       0
Score 2               0.0448496
Score 3                       0
Score 4               0.0832527
Collabrative Score            0
Content Score          0.128102
Total Score            0.128102
Name: 0, dtype: object
ID                            1
Subject                 ITE1001
Score 1                       0
Score 2               0.0448496
Score 3                       0
Score 4               0.0832527
Collabrative Score            0
Content Score          0.128102
Total Score            0.128102
Name: 0, dtype: object
ID                            1
Subject                 ITE1001
Score 1                       0
Score 2               0.0448496
Score 3                       0
Score 4               0.0832527
Collabrative Score            0
Content Score          0.128102
Total Score            0.128102
Name: 0, dtype: object
ID                            1
Subject                 ITE1001
Score 1                       0
Score 2               0.0448496
Score 3                       0
Score 4               0.0832527
Collabrative Score            0
Content Score          0.128102
Total Score            0.128102
Name: 0, dtype: object
ID                            4
Subject                 ITE1004
Score 1                       0
Score 2               0.0150223
Score 3                0.504992
Score 4               0.0617363
Collabrative Score            0
Content Score          0.581751
Total Score            0.581751
Name: 3, dtype: object